
Repository/obj/Debug/netstandard2.0/Repository.csprojAssemblyReference.cache
AccountOwnerServer/obj/Debug/netcoreapp2.2/AccountOwnerServer.csprojAssemblyReference.cache
Contracts/obj/Debug/netstandard2.0/Contracts.csprojAssemblyReference.cache
Entities/obj/Debug/netstandard2.0/Entities.csprojAssemblyReference.cache
LoggerService/obj/Debug/netstandard2.0/LoggerService.csprojAssemblyReference.cache
internal_logs/internallog.txt
logs/2019-02-07_logfile.txt
Contracts/obj/Debug/netstandard2.0/Contracts.pdb
AccountOwnerServer/bin/Debug/netcoreapp2.2/AccountOwnerServer.dll
AccountOwnerServer/bin/Debug/netcoreapp2.2/AccountOwnerServer.pdb
AccountOwnerServer/bin/Debug/netcoreapp2.2/Contracts.dll
AccountOwnerServer/bin/Debug/netcoreapp2.2/Contracts.pdb
AccountOwnerServer/bin/Debug/netcoreapp2.2/Entities.dll
AccountOwnerServer/bin/Debug/netcoreapp2.2/Entities.pdb
AccountOwnerServer/bin/Debug/netcoreapp2.2/Repository.dll
AccountOwnerServer/bin/Debug/netcoreapp2.2/Repository.pdb
AccountOwnerServer/obj/Debug/netcoreapp2.2/AccountOwnerServer.dll
AccountOwnerServer/obj/Debug/netcoreapp2.2/AccountOwnerServer.pdb
AccountOwnerServer/obj/Debug/netcoreapp2.2/AccountOwnerServer.assets.cache
AccountOwnerServer/obj/Debug/netcoreapp2.2/AccountOwnerServer.csprojAssemblyReference.cache
Contracts/bin/Debug/netstandard2.0/Contracts.dll
Contracts/bin/Debug/netstandard2.0/Contracts.pdb
Contracts/bin/Debug/netstandard2.0/Entities.dll
Contracts/bin/Debug/netstandard2.0/Entities.pdb
Contracts/obj/Debug/netstandard2.0/Contracts.dll
Contracts/obj/Debug/netstandard2.0/Contracts.csprojAssemblyReference.cache
Entities/bin/Debug/netstandard2.0/Entities.dll
Entities/bin/Debug/netstandard2.0/Entities.pdb
Entities/obj/Debug/netstandard2.0/Entities.dll
Entities/obj/Debug/netstandard2.0/Entities.pdb
Entities/obj/Debug/netstandard2.0/Entities.csproj.CoreCompileInputs.cache
Entities/obj/Debug/netstandard2.0/Entities.csprojAssemblyReference.cache
LoggerService/bin/Debug/netstandard2.0/Contracts.dll
LoggerService/bin/Debug/netstandard2.0/Contracts.pdb
LoggerService/bin/Debug/netstandard2.0/Entities.dll
LoggerService/bin/Debug/netstandard2.0/Entities.pdb
LoggerService/obj/Debug/netstandard2.0/LoggerService.csprojAssemblyReference.cache
Repository/bin/Debug/netstandard2.0/Contracts.dll
Repository/bin/Debug/netstandard2.0/Contracts.pdb
Repository/bin/Debug/netstandard2.0/Entities.dll
Repository/bin/Debug/netstandard2.0/Entities.pdb
Repository/bin/Debug/netstandard2.0/Repository.dll
Repository/bin/Debug/netstandard2.0/Repository.pdb
Repository/obj/Debug/netstandard2.0/Repository.dll
Repository/obj/Debug/netstandard2.0/Repository.pdb
Repository/obj/Debug/netstandard2.0/Repository.csprojAssemblyReference.cache
internal_logs/internallog.txt
logs/2019-02-09_logfile.txt
logs/2019-02-11_logfile.txt
logs/2019-02-12_logfile.txt
logs/2019-02-19_logfile.txt
