LoggerService/obj/Debug/netstandard2.0/LoggerService.csprojAssemblyReference.cache
AccountOwnerServer/obj/Debug/netcoreapp2.2/AccountOwnerServer.assets.cache
AccountOwnerServer/obj/Debug/netcoreapp2.2/AccountOwnerServer.csprojAssemblyReference.cache
Contracts/obj/Debug/netstandard2.0/Contracts.csprojAssemblyReference.cache
Entities/obj/Debug/netstandard2.0/Entities.csprojAssemblyReference.cache
Repository/obj/Debug/netstandard2.0/Repository.csprojAssemblyReference.cache
internal_logs/internallog.txt
logs/2019-02-07_logfile.txt
Contracts/obj/Debug/netstandard2.0/Contracts.csprojAssemblyReference.cache
AccountOwnerServer/obj/Debug/netcoreapp2.2/AccountOwnerServer.assets.cache
AccountOwnerServer/obj/Debug/netcoreapp2.2/AccountOwnerServer.csprojAssemblyReference.cache
Entities/obj/Debug/netstandard2.0/Entities.csprojAssemblyReference.cache
LoggerService/obj/Debug/netstandard2.0/LoggerService.csprojAssemblyReference.cache
Repository/obj/Debug/netstandard2.0/Repository.csprojAssemblyReference.cache
